<div class="section">
  <div class='container'>
    <h1>Navigation</h1>
    <nav class='nav'>
      <ul class="nav-list">
        <li class="nav-item">
          <a class='nav-link' routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Search Github</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' routerLink="/todo" routerLinkActive="active">Todo List</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' routerLink="/task1" routerLinkActive="active">Task1</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' routerLink="/task2" routerLinkActive="active">Task2</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
    <!-- <div class="row">
      <div class="col-6">
        <app-task4></app-task4>
      </div>
      <div class="col-6">
        <app-task3></app-task3>
      </div>
      <div class="col-12">
        <app-todo></app-todo>
      </div>
    </div> -->
  </div>
</div>
