.success {
	display: inline-block;
	padding: 30px;
	border-radius: 20px;
	color: #fff;
	background: #31c77f;
}

.btn {
	padding: 10px 20px;
	border-radius: 4px;
	color: #fff;
	background: black;
	border: none;
	cursor: pointer;
}